{
  NSExecutable = "WinUXTheme.dll";
  NSMainNibFile = "";
  NSPrincipalClass = "WinUXTheme";
  GSThemeAuthors = (
	"Fred Kiefer",
	"Riccardo Mottola",
	"Gregory Casamento"
  );
  GSThemeDetails = "Windows native UX theme";
  GSThemeIcon = WinTheme.png;
  GSThemePreview = winUX_preview_128.tiff;
  GSThemeDomain = {
	GSBackHandlesWindowDecorations = YES;
	NSMenuInterfaceStyle = NSWindows95InterfaceStyle;
	NSScrollViewInterfaceStyle = NSWindows95InterfaceStyle;
	NSScrollerInterfaceStyle = NSWindows95InterfaceStyle;
	GSScrollerButtonsOffset = 0;
	GSScrollViewNoInnerBorder = YES;
  };
  GSThemeVersion = 0.1;
}

